.form-logIn {
    width: 100%;
    margin: auto;
}

.input-group {
    width: 325px;
    margin: auto;
    margin-bottom: 21px;
}

.input {
    width: 265px;
    height: 51px;
    margin: auto;
    padding: 0 30px;
    border-radius: 22px;
    outline: none;
    border: none;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: rgba(0, 0, 0, 0.7);
}

.button-register {
    padding-top: 175px;
}